.img_partner{
    width: 200px;
    margin: auto;
   
}
.slick-prev{
    display: none !important;
}
.slick-next{
    display: none !important;
}

@media (max-width: 992px) {
    .img_partner{
        width:150px !important;
        padding: 15px 20px;
      
       
    }

}
 