.h2_nav {
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
}
.btn_header {
    margin: 25px 262px;
    background: #111111;
    border-color: #111111;
    color: #fff;
    border-radius: 0px;
    width: 200px;
    padding: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease;
}

.btn_header:hover {
    margin: 25px 262px;
    background: transparent;
    border-color: #111111;
    color: #111111;
    border-radius: 0px;
    width: 200px;
    padding: 11px;
    font-weight: 500;
    letter-spacing: 2px;
}
.div_carousel {
    height:577 ;
}
@media (max-width: 992px) {
    .btn_header {
         margin: auto !important; 
        
       
    }

    .h2_nav {
       
        margin-top: 56% !important;
       
    }
}