.basictitle_h2{
    text-align: center;
    color: #111111;
    letter-spacing: 2px;
    font-size: 40px;
    
}

.basictitle_h5{
    text-transform: uppercase;
    text-align: center;
    color:#a07d5a ;
    font-weight: 700;
    letter-spacing: 2px;
    
}