.big_div_cart{
    display: flex;
    min-height: 70vh;
}
@media (max-width: 992px) {

    .big_div_cart{
      flex-direction: column !important;
    } 
    .rescart{
        height: auto !important;
    }
}

.div_cart{
flex: 10;
}
.div_placeorder{
    flex: 2;   
}
.title_cart {
    font-weight: 700;
    color:#a07d5a ;
    letter-spacing: 2px;
}
.bold {
    font-weight: bold;
}
.btn_empty {
    margin: 20px 5px;
    border-radius: 0px;
    width: 150px;
    padding: 11px;
    background: #111111;
    border-color: #111111;
    color:#fff;
    font-weight: 600;
    -webkit-transition: all 0.4s ease;
}

.btn_empty:hover {
    margin: 20px 5px;
    border-radius: 0px;
    width: 150px;
    padding: 11px;
    color:#111111;
    background: #fff;
    border-color: #111111;
    font-weight: 600;
}
.div_total_side_cart{
    width: 100%;
    height: 300px;
    background: #f3f2ee;
    margin-top: 68px;

}
.h4_total_cart{
    text-align: center;
    letter-spacing: 2px;
    padding: 17px 0px;
    border-bottom: 1px solid #111111;
    

}
.item_total {
    margin: 25px;
}
.btn_placeorder {
    background: #111111;
    color: #fff;
    border-color: #111111;
    border-radius: 0px;
    font-weight: 500;
    -webkit-transition: all 0.4s ease;
}

.btn_placeorder:hover {
    background: transparent;
    color: #111111;
    border-color: #111111;
    border-radius: 0px;
    font-weight: 500;
}
.p_total_side {
    margin: 3px;
    letter-spacing: 2px;
    margin-top: 13px;
    font-size: 14px;
}