.col-md-12 .MuiFormControl-root {
    width: 100%;
    margin: 10px 0px;
   
}
.col-md-6 .MuiFormControl-root {
    width: 100%;
    margin: 10px 0px;
   
}

.col-md-12 .MuiFormControl-root .MuiFormLabel-root {
    color: #fff;
   
}

.col-md-6 .MuiFormControl-root .MuiFormLabel-root {
    color: #fff;
   
}
.MuiFilledInput-adornedStart{
    border-color: red !important;
}
.btn_send {
    background: #111111;
    color: #fff;
    width: 200px;
    padding: 9px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #111111;
    border-radius: 0px;
    margin-top: 20px;
    -webkit-transition: all 0.4s ease;
}

.btn_send:hover {
    background: #a07d5a;
    width: 200px;
    padding: 9px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #d4b08d;
    color: #fff;
    border-radius: 0px;
    margin-top: 20px;
}

.input_send {
    background: #a07d5a;
   
    border: none;
    border: 2px solid;
    border-color: #d4b08d;
    border-radius: 0px;
    color: #fff;
}

.input_send:focus {
    background: #a07d5a;
  
    border: none;
    border-bottom: 2px solid;
    border-color: #1111116c;
    border-radius: 0px;
    color: #fff;
    box-shadow: none;
}

.input_send::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.74) !important;
  }

  .label_send {
      color: #111111;
      font-weight: 600;
  }

 .erorr_contact{
     color: #fff;
 }

 @media (max-width: 992px) {

    .dispalynoneres{
        display: none !important;
    }
 }