.MuiIconButton-root {
 
  padding: 0px !important;
  
}

.logo_nav {
  width: 170px;
}
/*rgb(160 125 90 / 68%) */
.bg-dark {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
  z-index: 1111;
  height: auto;
}
/* ~~~~~~~ INIT. BTN ~~~~~~~ */
.navbar-nav {
  margin: 29px auto;
}
.searchicon{
  color: #fff;
}
.btn_nav {
  position: relative;
  letter-spacing: 3px;
  font-size: 16px;
 

  /* color: rgb(6 6 6) !important; */
  color:#fff !important;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  z-index: 1111;
}

.nav-item {
  margin: 0px 29px !important;
  width: 150px;
}

.btn_nav:before,
.btn_nav:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}
.default-nav {
  display: none !important;
}
.btn_nav:hover {
  color: #fff !important;
  transition-delay: 0.5s;
  width: 150px;
}
.signin_nav {
  transition: all 0.4s ease;
  color: #fff;
  letter-spacing: 2px;
}
.list-sign {
  list-style: none;
  float: right;
  display: flex;
}
.list_nav_media{
  list-style: none;
  float: left;
  display: flex;
}
.list_nav_media_item{
  margin: 0px 10px;
  font-size: 20px !important;
  
}
.media_nav{
  color: #fff;
  font-size: 20px;
  
}
.media_nav:hover{
  color: black;
  text-decoration: none;
}

.list_sign_item{
  margin: auto 10px;
  
}
.signin_nav:hover {
  text-decoration: none;
  color: #111111;
  
}
.btn_nav:hover:before {
  transition-delay: 0s;
}

.btn_nav:hover:after {
  background: #111111 !important;

  transition-delay: 0.35s;
}

/* From center */

.from-center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid #111111;

  border-left: 0;
  border-right: 0;
}

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #111111 !important;
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
}
.MuiButton-text {
  width: 20px !important;
   padding:0px !important;
   min-width: 20px !important;
  
}


.MuiPaper-rounded {
  
  margin-top: 12px !important;
  
}
.btn_drop {
  color:#fff;
  text-decoration: none;
  
}
.btn_drop:hover {
  color:#111111;
  text-decoration: none;
  
}

.dropdown-item.active, .dropdown-item:active {
 
  background-color: #a07d5a !important;
}

@media (max-width: 992px) {
 
  .list_nav_media_item {
    margin: 0px 5px;
  
}
.nav_colorres {
  background: black !important;
  width: min-content !important;
}
}